# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Model files (if hosted externally)
roi_detection_module/*.h5

# Logs and databases
*.log
*.sqlite

/Delivery
/jpeg_images
*.csv
*.json
*.jsonl
*.jsonl.gz
*.jsonl.gz.part