tifffile
h5py
bezier==2023.7.28
# tensorflow_gpu==2.4.1
imgaug
seaborn
Keras==2.14.0
scikit_image
# opencv_python_headless
opencv-python
pandas
scipy
numpy
matplotlib
ipython
Pillow
scikit-image
tensorflow==2.14.0
